<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://http://www.hibernate.org/dtd/hibernate-configuration.dtd">

<hibernate-configuration>

	<session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Hibernate_Completo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="show_sql">true</property>
		<mapping class="pojos.Vivienda"/>  
		<mapping class="pojos.Persona"/>  
	</session-factory>

</hibernate-configuration>  